* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100%;
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20%;
}

.navbar {
    background-color: black;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar>div:nth-child(1) img {
    float: left;
    margin-right: 2%;
    margin-left: 74px;
    width: 84px;
    margin-top: 13px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.list>li:nth-child(1):after {
    content: "^";
    margin-left: 8px;
    display: inline-block;
    -webkit-transform: rotate(180deg);

}

.line:before {
    content: " | ";
    padding: 0 10px;
    color: white;
    font-size: 43px;
    float: left;
    margin-right: 0px;
}

.navbar li {
    display: inline;
    float: left;
    margin: 18px 23px;
    color: white;
}

.button-small {
    float: right;
    top: 0;
    margin-right: 41px;
    margin-top: -46px;
    padding: 8px 23px;
    color: white;
    background-color: rgb(255, 0, 255);
    border-width: 0;
    font-size: 15px;
    border-radius: 9px
}

.hero-heading {
    text-align: center;
    font-size: 108px;
    color: white;
    line-height: 103px;
    margin-top: 126px;
    width: 68%;
    margin-left: 18%;
}

.hero-description {
    text-align: center;
    font-size: 30px;
    color: white;
    line-height: 139px;
    margin-top: -27px;
    margin-left: 5%;
}

.button-large {
    margin-left: 41%;
    margin-top: -14px;
    padding: 14px 54px;
    font-size: 18px;
    background-color: rgb(255, 0, 255);
    color: white;
    border-width: 0;
    border-radius: 14px
}